* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-links{
  position: absolute;
  top: 15%;

}

.triangle{
  position: relative;
  top: 3px;
display: flex;
justify-content: flex-end;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 4px solid transparent;
  top: 3px;
  border-bottom: 40px solid white;
}



nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: #fff;
  width: 329px;
  height: 305px;
  align-items: center;
  justify-content: space-evenly;
}

body {
  width: 100vw;
}

header {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-around;
  gap: 22%;
  padding-top: 35px;
}

nav h3 {
  width: 123.636px;
  height: 24px;
}

.container {
  height: 638px;
  width: 100%;
  background: url("./images/mobile/image-header.jpg") no-repeat center center /
    cover;
}

.container h2 {
  color: #fff;
  text-align: center;
  font-family: "Fraunces";
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 6.25px;
  text-transform: uppercase;
  margin-top: 100px;
}

.container .arrow {
  text-align: center;
}

.container .header-content {
  display: flex;
  gap: 50px;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

.container .header-img-container img {
  width: 375px;
  height: 312px;
  display: none;
}

/* MAIN */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-img1 {
  background: url("./images/mobile/image-transform.jpg") no-repeat center center /
    cover;
  height: 312px;
  width: 100%;
}



.main-img2 {
  background: url("./images/mobile/image-stand-out.jpg") no-repeat center center /
    cover;
  height: 312px;
  width: 100%;
}


.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 20px;
}

.main-content h3 {
  width: 327px;
  color: #24303e;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.229px;
  font-family: "Fraunces";
}

.main-content p {
  width: 327px;
  color: #808397;
  text-align: center;
  font-family: "barlow";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
  letter-spacing: -0.129px;
}

.main-button {
  color: #24303e;
  font-family: "Fraunces";
  font-size: 15px;
  font-style: normal;
  font-weight: 900;
  line-height: 25px; /* 166.667% */
  letter-spacing: 1px;
  border: none;
  background: none;
}

.main-button2 {
  color: #24303e;
  font-family: "Fraunces";
  font-size: 15px;
  font-style: normal;
  font-weight: 900;
  line-height: 25px; /* 166.667% */
  letter-spacing: 1px;
  border: none;
  background: none;
}

.main-button div {
  width: 137px;
  height: 10px;
  flex-shrink: 0;
  border-radius: 28px;
  opacity: 0.25;
  background: #fad400;
}

.main-button2 div {
  width: 137px;
  height: 10px;
  flex-shrink: 0;
  border-radius: 28px;
  opacity: 0.25;
  background: #fe7766;
}

.main-content-cherry-orange {
  width: 100%;
}

.main-cherry {
  background: url("./images/mobile/image-graphic-design.jpg") no-repeat center
    center / cover;
  width: 100%;
  height: 600px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.main-orange {
  background: url("./images/mobile/image-photography.jpg") no-repeat center
    center / cover;
  width: 100%;
  height: 600px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.main-cherry span,
.main-orange span {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-bottom: 50px;
}

.main-cherry span h3,
.main-orange span h3 {
  color: #24554a;
  text-align: center;
  font-family: "Fraunces";
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.2px;
}

.main-cherry span p,
.main-orange span p {
  color: #24554a;
  text-align: center;
  font-family: "barlow";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px; /* 168.75% */
  letter-spacing: -0.114px;
  width: 327px;
}

/* FOOTER */

footer {
  width: 100%;
}
.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  width: 100%;
}

.testimonials h3 {
  color: #a7aaad;
  text-align: center;
  font-family: "Fraunces";
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 4px;
}

.clients {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
}

.clients img {
  width: 72px;
  height: 72px;
  border-radius: 72px;
}

.clients p {
  color: #5b636d;
  text-align: center;
  font-family: "barlow";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 177.778% */
  letter-spacing: -0.129px;
  width: 327px;
}

.clients div h4 {
  color: #24303e;
  text-align: center;
  font-family: "Fraunces";
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.129px;
  margin-bottom: 10px;
}

.clients div span {
  color: #a7aaad;
  text-align: center;
  font-family: "barlow";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 178.571% */
  letter-spacing: -0.1px;
  width: 203px;
}

.image-collage {
  width: 100vw;
  display: flex;
  flex-direction: column;
  height: 375px;
  margin-top: 50px;
}

.collage1,
.collage2 {
  display: flex;
  width: 100%;
  justify-content: center;
}

.image-collage img {
  width: 220px;
  height: 198px;
  border-radius: 0;
}

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 350px;
  background: #90d4c6;
  justify-content: space-evenly;
}

.footer img {
  width: 190px;
  height: 63px;
}

.footer-nav {
  list-style: none;
  display: flex;
  gap: 50px;
  margin-bottom: 20%;
}

.footer-nav li {
  color: #458d7e;
  font-family: "barlow";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 138.889% */
  letter-spacing: -0.129px;
}

.social-media {
  display: flex;
  gap: 35px;
}

.social-media img {
  width: 24px;
  height: 24px;
  border-radius: 0;
}


@media (min-width: 775px) {

  nav{
    display: flex;
  }

  .container {
    height: 638px;
    width: 100%;
    background: url('./images/desktop/image-header.jpg') no-repeat center center /
      cover;
  }
  .nav-links{
    position: static;
  }

 nav .menu{
  display: none;
 }

 .triangle{
  display: none;
 }

 nav ul{
  height: auto;
  flex-direction: row;
  background-color: transparent;
  color: #fff;
 }
 
 /* main */
 
 .main-img1 {
   background: url('./images/desktop/image-transform.jpg') no-repeat center center / cover;
   width: 720px;
height: 600px;
 }
 
 .main-img2 {
   background: url('./images/desktop/image-stand-out.jpg') no-repeat center center / cover;
   width: 720px;
height: 600px;
 }
 .content-container{
  border: solid 1px red;
  display: flex;
 }

 .content-container, .main-content-cherry-orange{
  flex-direction: row;
  display: flex;
  
  justify-content: space-between;
 }


 





s


 .main-cherry{
    background: url('./images/desktop/image-graphic-design.jpg') no-repeat center center / cover;
 }

 .main-orange{
    background: url('./images/desktop/image-photography.jpg') no-repeat center center / cover;
 }

}
