* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  display: none;
}

body {
  width: 100vw;
}

header {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-around;
  gap: 50%;
  padding-top: 35px;
}

nav h3 {
  width: 123.636px;
  height: 24px;
}

.container {
  height: 638px;
  width: 100%;
  background: url("./images/mobile/image-header.jpg") no-repeat center center /
    cover;
}

.container h2 {
  color: #fff;
  text-align: center;
  font-family: "Fraunces";
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 6.25px;
  text-transform: uppercase;
  margin-top: 100px;
}

.container .arrow {
  text-align: center;
}

.container .header-content {
  display: flex;
  gap: 50px;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

.container .header-img-container img {
  width: 375px;
  height: 312px;
  display: none;
}

.img{
    background: url("./images//mobile/image-transform.jpg") no-repeat center center / cover;
    height: 312px;
}
